<div class="card">
  <div class="card__image">
    <img src="{{BASE_URL}}/{{weather.weather[0].icon}}@2x.png" [alt]="weather.name">
  </div>
  <div class="card__main">
    {{weather.weather[0].description}}
  </div>
  <div class="card__city" *ngIf="weather.name !== 'Cordova' else cordoba">
    {{weather.name}} , {{weather.sys.country}} / {{weather.main.temp | number: '1.0-0'}}&#8451;
  </div>
  <ng-template #cordoba>
    <div class="card__city">
      Córdoba , {{weather.sys.country}} / {{weather.main.temp | number: '1.0-0'}}&#8451;
    </div>
  </ng-template>
  <div class="card__stats">
    <div class="card__stat width-33">
      <div class="card__stat--stat">
        {{weather.main.pressure}} <sup>hPa</sup>
      </div>
      <div class="card__stat--name">
        Presión
      </div>
    </div>
    <div class="card__stat width-33">
      <div class="card__stat--stat">
        {{weather.main.humidity}} <sup>%</sup>
      </div>
      <div class="card__stat--name">
        Humedad
      </div>
    </div>
    <div class="card__stat width-33 no-border">
      <div class="card__stat--stat">
        {{weather.wind.speed}} <sup>m/s</sup>
      </div>
      <div class="card__stat--name">
        Velocidad del viento
      </div>
    </div>
  </div>
</div>
